<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet'/>
        <link rel="stylesheet" type="text/css" href="/css/triends_login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <title> {{title}} </title>
        

    </head>

    <body >

        <div class="sidenav">
            <div class="login-main-text">
                <h2><b>Welcome to Triends!</b><br> <small>Make your travel mate around the world</small></h2>
                {{!-- <p>Login or register from here to access.</p> --}}
            </div>
        </div>

      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               
                <form id="loginForm" method="POST" action="/login_user" autocomplete="off">
                  {{!-- <div class="form-group"> --}}
                    <h3 style="text-align: center; color:black;">Sign in</h3><br><br>

                     <label for="mail"> Email </label>
                     <input  name="loginEmail" id="loginEmail" type="email" placeholder="Email" required/>

                  {{!-- </div> --}}
                  {{!-- <div class="form-group"> --}}
                     <label> Password </label>
                     <input  name="loginPw" id="loginPw" type="password" placeholder="Password" required/>
                        
                     {{!-- <a href='#'id="forgotPW"  >Forget Password? </a> --}}

                  {{!-- </div> --}}
                  <input class="btn btn-black" id="SignUpBtn" type="submit" value="Sign In" />
                        
                  
               </form>
               
                  <a href="/register" style="color: grey;"> Create Account </a>
            </div>


                 <div id="forgot" style="visibility: hidden;">
                    <h3 style="color: cadetblue;">Forgot Password</h3>
                    <div>
                        <input id="forgotEmail" type="email" placeholder="Email" required/>
                        <input type="submit" onclick="forgotPassword()" value="Submit"/>
                    </div>
                </div>


         </div>
      </div>
{{!-- 
        <div id="container" style="float: left; margin-left:15%">


            <div id="cont">
                <div id="login" class="comm" style="visibility: visible;">
                    <h3 style="text-align: center; color: cadetblue;">Sign in</h3>
                    <br>
                    <form id="loginForm" method="POST" action="/login_user" autocomplete="off">
                        <label for="mail">Email:</label>
                        <input name="loginEmail" id="loginEmail" type="email" placeholder="Email" required/>

                        
                        <label for="password">Password:</label>
                        <input name="loginPw" id="loginPw" type="password" placeholder="Password" required/>
                        <div class="text-danger">
                            {{users.user_invalidAccountError}}
                        </div>

                        <p id="forgotPW" onclick="forTabFun()" >Forget Password?</p>

                        <input class="btn btn-lg btn-primary btn-block btn-radius btn-signin" id="SignUpBtn" type="submit" value="Sign In" />
                        
                    </form>
                    
                    <a href="/register" style="color: cadetblue;"> Create Account </a>

                </div>

                <div id="forgot" style="visibility: hidden;">
                    <h3 style="color: cadetblue;">Forgot Password</h3>
                    <div>
                        <input id="forgotEmail" type="email" placeholder="Email" required/>
                        <input type="submit" onclick="forgotPassword()" value="Submit"/>
                    </div>
                </div>
            </div>
        </div>
         --}}
        
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
        {{!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> --}}
        <script type="text/javascript" src="/javascripts/triends_login.js"></script>
        <script type="text/javascript" src="/javascripts/triends_map.js"></script>
        
    </body >
</html>

