<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
        <title> {{title}} </title>
        

    </head>

    <body >

        <div class="sidenav">
            <div class="login-main-text">
                <h2><b>Welcome to YouStar!</b><br> <small>Make your own blog</small></h2>
            </div>
        </div>

      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               
                <form id="loginForm" method="POST" action="/login_user" autocomplete="off">

                    <h3 style="text-align: center; color:black;">Sign in</h3><br><br>

                     <label for="mail"> Email </label>
                     <input  name="loginEmail" id="loginEmail" type="email" placeholder="Email" required/>

                
                     <label> Password </label>
                     <input  name="loginPw" id="loginPw" type="password" placeholder="Password" required/>
                        
             
                    <div class="text-danger">
                        {{users.user_invalidAccountError}}
                    </div>
               
                    
                  
                  <input class="btn btn-black" id="SignUpBtn" type="submit" value="Sign In" />

               </form>
         
                  <a href="/register" style="color: grey;"> Create Account </a>
            </div>


         </div>
      </div>

        <script type="text/javascript" src="/javascripts/login.js"></script>
        
        
    </body >
</html>

